@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Barlow' !important;
}

html, body {
  background: #252836;
  color: #fff  
}

#sidebar-menu::-webkit-scrollbar {
	display: none;
}

#menu::-webkit-scrollbar {
	display: none;
}

#cart-scrollbar::-webkit-scrollbar {
  display: none
}

.ant-modal-content {
  background: #252836 !important
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-btn-default.ant-btn-dangerous {
  color: white;
  border: none;
  outline: none;
  background: #EA736D
}

.ant-btn-default {
  color: white
}